.App-header {
  background-color: #222;
  height: 120px;
  padding: 20px;
  color: white;
} 
.App-Header a, .HeaderLink {
  color: white;
  font-weight: 900;
  font-size: 1.2rem;
}

.App-title {
  font-size: 1.5em;
  color: white;
  font-weight: 500;
}

.App-intro {
  font-size: large;
}
h1, h2, h3, h4, h5 {
  color: #333
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@font-face{
  font-family:SnellRoundHand;
  src: url(/fonts/SnellRoundhand-Black.ttf) fromat('truetype');
}

